@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  text-align: center;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  z-index: 5;

  position: relative;
}
/* menu */
.menu ul {
  position: absolute;
  background: hsl(270, 9%, 17%);
  display: none;
  gap: 1.5rem;
  padding: 3rem 1rem;
  flex-direction: column;
  align-items: center;
  top: 100%;
  left: 0;
  right: 0;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-repeat: no-repeat;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-position: bottom;
  background-size: 100%;
  height: 68vh;
}
.menu ul li {
  padding: 0.5rem 2.5rem;
}
.menu li:last-child {
  border: 1px solid white;
  background: hsl(270, 9%, 17%);
}
.show ul {
  display: flex;
}
/* main */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-img {
  background-image: url(./images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 451px;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
h1,
.text h2,
.text h3 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}
.text h2 {
  font-size: 1.8rem;
}
.text img {
  margin-bottom: 0.5rem;
}
.btn {
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: hsl(256, 26%, 20%);
  border: 1px solid white;
  padding: 0.5rem 2.5rem;
  margin-top: 1rem;
}
.white-bg__img {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-position: top right;
  top: -166px;
  right: 0;
  width: 100%;
  height: 330px;
}
/* dark bg */
.dark-bg {
  background: hsl(256, 26%, 20%);
  color: white;
}
.dark-bg .text {
  background-repeat: no-repeat;
  padding: 6rem 2.5rem;
}
.dark-bg:nth-child(1) .text {
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-position: top left;
}
.dark-bg:nth-child(3) .text {
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  padding: 5rem 2.5rem;
}
.dark-bg:nth-child(3) {
  width: 85%;
  margin: 0 auto;
}
/* white bg */
.white-bg .text {
  padding: 0;
  margin-bottom: 3rem;
  gap: 1.5rem;
}
.white-bg {
  position: relative;
  padding: 6rem 2.5rem;
}
.white-bg p {
  color: hsl(273, 4%, 51%);
  line-height: 1.5;
}
.white-bg h1 {
  position: relative;
  padding-top: 2rem;
  padding: 2.5rem 0 4rem;
}
.white-bg h1:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 1.3px;
  color: hsl(273, 4%, 51%);
  padding: 0;
  margin: 0 auto;
  background-color: hsla(255, 29%, 27%, 0.432);
}
/* footer */
footer {
  background: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5rem;
  padding: 6rem 2.5rem;
  padding-bottom: 0;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.footer-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid hsla(276, 4%, 51%, 0.329);
  width: 100%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-links h3 {
  color: hsl(273, 4%, 51%);
}
.footer-links li {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* hover */
@media (hover) {
  .hamburger-menu:hover {
    cursor: pointer;
  }
  .logo:hover {
    cursor: pointer;
  }
  .menu li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .menu li:last-child:hover {
    background-color: #fff;
    color: hsl(270, 9%, 17%);
    text-decoration: none;
  }
  .btn:hover {
    background-color: #fff;
    color: hsl(270, 9%, 17%);
    font-weight: 700;
  }
  .footer-social-links a:hover {
    filter: brightness(0.5);
  }
  footer li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
/* desktop */
@media (min-width: 768px) {
  /* header */
  header {
    padding: 2rem 3.5rem;
  }
  .hamburger-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  .menu ul {
    position: relative;
    display: flex;
    flex-direction: row;
    color: hsl(273, 4%, 51%);
    background-color: transparent;
    background-image: none;
    height: auto;
    padding: 0;
    gap: 0.5rem;
  }
  .menu ul li {
    padding: 0.5rem;
  }
  .menu li:last-child {
    border: 2px solid black;
    font-weight: 700;
    background: transparent;
    color: black;
    margin-left: 1rem;
  }
  /* main */
  h1 {
    font-size: 3.9rem;
  }
  .text {
    align-items: start;
  }
  /* dark bg img */
  .intro-img {
    background-image: none;
    position: relative;
    width: 50%;
  }
  .dark-bg__img-right {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 50%;
    height: 504px;
    margin-left: auto;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 315px;
  }
  .desktop-img {
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    background-image: url(images/image-intro-desktop.jpg);
    background-size: contain;
    width: auto;
    height: 580px;
    left: 1rem;
    right: 2.5rem;
    top: 66px;
    bottom: 0;
  }
  /* dark bg */
  .dark-bg .text {
    width: 50%;
  }
  .dark-bg:nth-child(1) {
    flex-direction: row-reverse;
    position: relative;
  }
  .dark-bg:nth-child(1) .text {
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-position: top right;
    height: 504px;
    background-image: none;
    margin-right: auto;
    text-align: left;
    padding: 6rem 3.5rem;
  }
  .dark-bg:nth-child(1) .text h1 {
    position: relative;
    padding-top: 2rem;
  }
  .dark-bg:nth-child(1) .text h1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 35%;
    height: 1.3px;
    color: hsl(273, 4%, 51%);
    padding: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.781);
  }
  .dark-bg:nth-child(3) .text {
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-size: contain;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .dark-bg:nth-child(3) .text h1 {
    width: 60%;
    text-align: left;
  }
  /* white bg img */
  .white-bg__img {
    top: -302px;
    left: 0;
    width: 100%;
    height: 593px;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    background-size: 144px;
  }
  /* white bg */
  .white-bg {
    align-items: start;
    text-align: start;
    padding: 9rem 3.5rem 6rem;
  }
  .white-bg h1:before {
    right: initial;
  }
  .white-bg h1 {
    padding: 2.5rem 4rem 4rem;
  }
  .text-wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
  }
  /* footer desktop */
  footer {
    padding: 6rem 3.5rem;
  }
  .footer-top-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid hsla(276, 4%, 51%, 0.329);
  }
  .footer-social-links {
    width: auto;
    border-bottom: none;
  }
  .footer-links {
    width: 85%;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    text-align: left;
  }
  /* desktop hover */
  @media (hover) {
    .menu li:hover {
      cursor: pointer;
      text-decoration: none;
      color: hsl(270, 9%, 17%);
    }
    .menu li:last-child:hover {
      background-color: hsl(270, 9%, 17%);
      color: white;
      text-decoration: none;
    }
  }
}
